<link rel="stylesheet" href="/stylesheets/index.css">
<form id="login-form" action="/login" method="POST">
  <div class="mb-5">
    <h1>Account Login</h1>
  </div>
  <div class="mb-4">
    <input type="email" id="email" class="form-control" name="email" placeholder="Email">
  </div>
  <div class="mb-5">
    <input type="password" id="password" class="form-control" name="password" placeholder="Password">
  </div>
  <button type="submit" class="btn btn-primary">Sign in</button>
</form>