#login-form {
  width: 400px;
  margin: 200px auto 0;
  text-align: center;
}
#login-form button {
  width: 130px;
}
#toast-container {
  padding-top: 30px;
}
#toast-container .toast-message {
  font-size: 18px;
}